{| border="0" cellspacing="0" cellpadding="4" style="float:right; margin:0 0 .5em 1em; width:250px; background:#fff; border-collapse:collapse; border:1px solid #000000; font-size:smaller; line-height:1.5;"
|-
!colspan="2" style="color:#bcc0a2; background:#483821; font-size:larger;"|{{BASEPAGENAME}}
|-
{{#if: {{{image|}}}|
!colspan="2" style="padding:0; background:#B2B2B2; color:#bcc0a2;"{{!}}{{{image}}}
{{!}}-
}}
{{#if: {{{gender|}}}{{{race|}}}{{{alignment|}}}{{{faction|}}}{{{level|}}}{{{hit points|}}}{{{fatigue|}}}|
!colspan="2" style="text-align:center; font-weight:normal; background:#483821; color:#B2B2B2; font-size:larger;"{{!}}<small>'''Basic Stats'''</small>
{{!}}-
}}
{{#if: {{{race|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Race
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{race}}}
{{!}}-
}}
{{#if: {{{gender|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Gender
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{gender}}}
{{!}}-
}}
{{#if: {{{level|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Level
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{level}}}
{{!}}-
}}
{{#if: {{{hit points|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Hit points
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{hit points}}}
{{!}}-
}}
{{#if: {{{fatigue|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Fatigue
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{fatigue}}}
{{!}}-
}}
{{#if: {{{alignment|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Alignment
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{alignment}}}
{{!}}-
}}
{{#if: {{{aptitude|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Aptitude
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{aptitude}}}
{{!}}-
}}
{{#if: {{{faction|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Faction
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{faction}}}
{{!}}-
}}
{{#if: {{{st|}}}{{{cn|}}}{{{dx|}}}{{{be|}}}{{{in|}}}{{{wp|}}}{{{ch|}}}|
!colspan="2" style="text-align:center; font-weight:normal; background:#483821; color:#B2B2B2; font-size:larger;"{{!}}<small>'''Characteristics'''</small>
{{!}}-
}}
{{#if: {{{st|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Strength
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{st}}}
{{!}}-
}}
{{#if: {{{cn|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Constituion
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{cn}}}
{{!}}-
}}
{{#if: {{{dx|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Dexterity
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{dx}}}
{{!}}-
}}
{{#if: {{{be|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Beauty
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{be}}}
{{!}}-
}}
{{#if: {{{in|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Inteligence
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{in}}}
{{!}}-
}}
{{#if: {{{wp|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Willpower
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{wp}}}
{{!}}-
}}
{{#if: {{{ch|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Charisma
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{ch}}}
{{!}}-
}}
{{#if: {{{normal|}}}{{{fire|}}}{{{electrical|}}}{{{poison|}}}{{{magic|}}}|
!colspan="2" style="text-align:center; font-weight:normal; background:#483821; color:#B2B2B2; font-size:larger;"{{!}}<small>'''Resistances'''</small>
{{!}}-
}}
{{#if: {{{normal |}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Normal
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{normal }}}
{{!}}-
}}
{{#if: {{{fire|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Fire
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{fire}}}
{{!}}-
}}
{{#if: {{{electrical|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Electrical
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{electrical}}}
{{!}}-
}}
{{#if: {{{poison|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Poison
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{poison}}}
{{!}}-
}}
{{#if: {{{magic|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Magic
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{magic}}}
{{!}}-
}}
{{#if: {{{normalDmg|}}}{{{fireDmg|}}}{{{electricalDmg|}}}{{{poisonDmg|}}}{{{magicDmg|}}}|
!colspan="2" style="text-align:center; font-weight:normal; background:#483821; color:#B2B2B2; font-size:larger;"{{!}}<small>'''Damages'''</small>
{{!}}-
}}
{{#if: {{{normalDmg|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Normal
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{normalDmg}}}
{{!}}-
}}
{{#if: {{{fireDmg|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Fire
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{fireDmg}}}
{{!}}-
}}
{{#if: {{{electricalDmg|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Electrical
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{electricalDmg}}}
{{!}}-
}}
{{#if: {{{poisonDmg|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Poison
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{poisonDmg}}}
{{!}}-
}}
{{#if: {{{magicDmg|}}}|
{{!}}style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}Magic
{{!}} class="infoboxcell" style="border-top: 1px solid #999; border-bottom: 1px solid #999; background: #B2B2B2"{{!}}
{{{magicDmg}}}
{{!}}-
}}
|}
<noinclude><pre>
{{EntityInfobox
|image =
|race =
|gender =
|level =
|hit points =
|fatigue =
|alignment =
|aptitude=
|faction =
|st =
|cn =
|dx =
|be =
|in = 
|wp = 
|ch =
|normal =
|fire =
|electrical = 
|poison = 
|magic =
|normalDmg =
|fireDmg =
|electricalDmg = 
|poisonDmg = 
|magicDmg =
}}
</pre>[[Category:Infobox templates]]</noinclude>